.partner__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 107px;
}

.partner__item {
    opacity: 0.2;
    transition: 0.3s
}

.partner__item:hover {
    opacity: 0.9
}

.partner__item:active {
    opacity: 0.2
}

.partner {
    padding-bottom: 120px;
    padding-top: 75px;
}
.partner__line {
width: 100%;
height: 2px;
background-color: #999999;
margin-top: 38px;
}